<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find mavros)/launch/gazebo.launch" />

    <!-- Landing Commander -->
    <arg name="safety_dist"                            	default="2.0"/>
    <arg name="safety_area"                            	default="safety_area"/>

    <arg name="minimum_stride"                          default="2.0"/>
    <arg name="target_proc_time"                        default="200.0"/>
    <arg name="stride_coef"                             default="0.0416"/>

    <arg name="robot_frame"                             default="base_link"/>
    <arg name="land_to_base"                            default="False"/>
    <arg name="debug"                                   default="True"/>
    <arg name="show_occupancy_map"                      default="True"/>
    <arg name="mark_safety_area"                        default="True"/>
    
    <node pkg="landing_commander" type="landing_commander_node" name="landing_commander">
      <param name="safety_dist"                   	 	      value="$(arg safety_dist)"/>
      <param name="target_proc_time"                   	 	  value="$(arg target_proc_time)"/>
      <param name="safety_area"                   	 	      value="$(arg safety_area)"/>
      <param name="stride_coef"                   	 	      value="$(arg stride_coef)"/>
      <param name="robot_frame"                   	 	      value="$(arg robot_frame)"/>
      <param name="land_to_base"                   	 	      value="$(arg land_to_base)"/>
      <param name="debug"                   	 	            value="$(arg debug)"/>
      <param name="show_occupancy_map"                   	 	value="$(arg show_occupancy_map)"/>
      <param name="mark_safety_area"                   	 	  value="$(arg mark_safety_area)"/>
    </node>

    <!-- Temporal Octomap -->
	<arg name="frame_id"                            	default="map"/>
	<arg name="latch"                         			default="false"/>

	<arg name="color_factor"                            default="0.8"/>
	<arg name="publish_Markers_Topic"                   default="true"/>
	<arg name="publish_free_space"                      default="false"/>

	<arg name="res"                         			default="1.0"/>
	<arg name="min_x_size"                            	default="0.0"/>
	<arg name="min_y_size"                            	default="0.0"/>

	<arg name="max_range"                            	default="20.0"/>
	<arg name="sensor_model/hit"                        default="0.7"/>
	<arg name="sensor_model/miss"                       default="0.3"/>
	<arg name="sensor_model/min"                        default="0.5"/>
	<arg name="sensor_model/max"                        default="0.7"/>
	<arg name="Occupancy_Thres"                         default="0.5"/>

	<arg name="decaytime/sec"                         	default="3600"/>
	<arg name="decaytime/nsec"                         	default="0"/>

	<node pkg="temporal_octomap" type="temporal_octomap_node" name="temporal_octomap"> 
		<param name="frame_id"                   	 	value="$(arg frame_id)"/>
		<param name="color_factor"                   	value="$(arg color_factor)"/>
		<param name="publish_Markers_Topic"             value="$(arg publish_Markers_Topic)"/>
		<param name="min_x_size"                   		value="$(arg min_x_size)"/>
		<param name="min_y_size"                   		value="$(arg min_y_size)"/>
		<param name="max_range"                   		value="$(arg max_range)"/>
		<param name="res"                         		value="$(arg res)"/>
		<param name="publish_free_space"                value="$(arg publish_free_space)"/>
		<param name="sensor_model/hit"                  value="$(arg sensor_model/hit)"/>
		<param name="sensor_model/miss"                 value="$(arg sensor_model/miss)"/>
		<param name="sensor_model/min"                  value="$(arg sensor_model/min)"/>
		<param name="sensor_model/max"                  value="$(arg sensor_model/max)"/>
		<param name="Occupancy_Thres"                   value="$(arg Occupancy_Thres)"/>
		<param name="latch"                   			value="$(arg latch)"/>
		<param name="decaytime/sec"                   	value="$(arg decaytime/sec)"/>
		<param name="decaytime/nsec"                   	value="$(arg decaytime/nsec)"/>

	</node>

    <!-- YOLO Object Detector Point Cloud Detector -->
    <arg name="weights"                            default="$(find yolo_pointcloud)/weights/yolov8m.pt"/>
    <arg name="confidence"                         default="0.7"/>
    <arg name="max_detections"                     default="10"/>
    <arg name="agnostic_nms"                       default="True"/>
    <arg name="iou_thresh"                         default="0.5"/>
    <arg name="half"                               default="False"/>
    <arg name="thickness"                          default="2"/>
    <arg name="font_scale"                         default="0.8"/>
    <arg name="img_size"                           default="640"/>
    <arg name="device"                             default="0"/>
    <arg name="publish_image"                      default="True"/>
    <arg name="matching_distance_coefficient"      default="0.35"/>

    <arg name="camera0_topic"                      default="/stereo/left/image_raw"/>
    <arg name="camera0_info_topic"                 default="/stereo/left/camera_info"/>
    <arg name="camera1_topic"                      default="/stereo/right/image_raw"/>
    <arg name="camera1_info_topic"                 default="/stereo/right/camera_info"/>

    <arg name="publish_image_topic0"               default="/yolo_pointcloud/camera0/detection_image"/>
    <arg name="detected_objects_topic0"            default="/yolo_pointcloud/camera0/detected_objects"/>

    <!-- Node -->
    <node name="detector" pkg="yolo_pointcloud" type="yolo_pointcloud_node.py" output="screen" respawn="true">
        <param name="confidence"                    value="$(arg confidence)"/>
        <param name="iou_thresh"                    value="$(arg iou_thresh)"/>
        <param name="agnostic_nms"                  value="$(arg agnostic_nms)"/>
        <param name="max_detections"                value="$(arg max_detections)"/>
        <param name="weights"                       value="$(arg weights)"/>
        <param name="half"                          value="$(arg half)"/>
        <param name="device"                        value="$(arg device)"/>
        <param name="img_size"                      value="$(arg img_size)"/>
        <param name="thickness"                     value="$(arg thickness)"/>
        <param name="font_scale"                    value="$(arg font_scale)"/>
        <param name="publish_image"                 value="$(arg publish_image)"/>        
        <param name="publish_image_topic0"          value="$(arg publish_image_topic0)"/>
        <param name="detected_objects_topic0"       value="$(arg detected_objects_topic0)"/>
        <param name="camera0_topic"                 value="$(arg camera0_topic)"/>
        <param name="camera1_topic"                 value="$(arg camera1_topic)"/>
        <param name="matching_distance_coefficient" value="$(arg matching_distance_coefficient)"/>
    </node>
    
    <node name="rviz_voxels" pkg="rviz" type="rviz" output="screen" args="-d $(find yolov5_stereo)/rviz/Safety_Pipeline.rviz" />
    <node name="rviz_gridmap0" pkg="rviz" type="rviz" output="screen" args="-d $(find safety_pipeline)/rviz/Occupancy_Grid.rviz" />
    <node name="rviz_gridmap1" pkg="rviz" type="rviz" output="screen" args="-d $(find safety_pipeline)/rviz/Occupancy_Grid_Output.rviz" />

</launch>